<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:amq="http://activemq.apache.org/schema/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">


	<!-- 真正可以产生Connection的ConnectionFactory，由对应的 JMS服务厂商提供 -->
	<bean id="jmsConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory"
		destroy-method="stop">
		<property name="connectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL" value="tcp://localhost:61616" />
				<property name="useAsyncSend" value="true" />
			</bean>
		</property> 
	</bean>
	<!-- Spring提供的JMS工具类，它可以进行消息发送、接收等 -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<!-- 这个connectionFactory对应的是我们定义的Spring提供的那个ConnectionFactory对象 -->
		<property name="connectionFactory" ref="jmsConnectionFactory" />
	</bean>


	<!-- 消息监听容器 -->
	<bean id="queueContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer"
		abstract="true">
		<property name="connectionFactory" ref="jmsConnectionFactory" />
		<property name="concurrentConsumers" value="5" />
		<property name="maxConcurrentConsumers" value="10" />
		<property name="sessionAcknowledgeModeName" value="CLIENT_ACKNOWLEDGE" />
	</bean>
	<!--这个是sessionAwareQueue目的地 -->
	<bean id="baseQueue" class="org.apache.activemq.command.ActiveMQQueue"
		abstract="true" />
		
	<bean id="messageProducer" class="org.bussiness.mq.base.MessageProducer" abstract="true" />
	<bean id="queueMessageListener" class="org.bussiness.mq.base.QueueMessageListener" abstract="true" />
	
	
	
	<!-- 业务配置 -->

	<bean id="orderQueue" parent="baseQueue">
		<constructor-arg value="q.order" />
	</bean>

	<bean id="orderQueueContainer" parent="queueContainer">
		<property name="destination" ref="orderQueue" />
		<property name="messageListener" ref="orderLintener" />
	</bean>
</beans>