.page{text-align:center;color:#000;padding-top:30px;vertical-align:middle;}
.page a.on,.newsCleft .page a:hover{ color: #fff; background: #fd4040; border: 1px #fd4040 solid;}
.page input{color: #999; border: 1px #999 solid; text-align: center; width: 34px; height: 30px;}
.page botton{  color: #fff; background: #fd4040; padding: 7px 10px; cursor: pointer;}
.page span.current{display:inline-block;*display:inline;zoom:1;line-height:16px;padding:0px 5px;margin:0 7px;}
.page a.prevPage{display:inline-block;*display:inline;zoom:1;line-height:16px;padding:0px 5px;margin:0 7px;}
.page a.tcdNumber{display:inline-block;*display:inline;zoom:1;line-height:16px;padding:0px 5px;margin:0 7px;}
.page a.nextPage{display:inline-block;*display:inline;zoom:1;line-height:16px;padding:0px 5px;margin:0 7px;}
.page span.disabled{display: none;}
.page input.pageText{height:24px;width:37px;border:1px solid #d4d4d4;}
.page a.pageTurn{display:inline-block;*display:inline;zoom:1;line-height:16px;text-decoration:underline;margin-left: 10px;}